.monaco-workbench {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.monaco-breadcrumbs {
    font-family: 'Hack Nerd Font', monospace !important;
    font-size: 10px !important;
}

.line-numbers {
    position: relative !important;
    width: 10px !important;
    font-size: 12px !important;
    font-family: 'Hack Nerd Font' !important;
    opacity: .3;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a,
.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a {
    font-family: "Hack Nerd Font", monospace !important;
    font-size: 11px !important;
}

.monaco-workbench .part.statusbar {
    font-family: "Hack Nerd Font", monospace !important;
    font-size: 10px !important;
}

/* Side bar */
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 1px #727b90 solid;
    border-bottom: 1px #727b90 solid;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #fff !important;
    opacity: 1 !important;
}

/* File Explorer Item Label */
.sidebar2-compositeComponent .monaco-tree .monaco-tree-row .label-name,
.sidebar2-compositeComponent .monaco-list .monaco-list-row
.label-name {
    font-family: 'Hack Nerd Font', monospace !important;
    font-size: 10px !important;
    color: #FFF !important;
}

.sidebar2-compositeComponent .pane-header {
    font-family: 'Hack Nerd Font', monospace !important;
}

/* Command Palette Item Label */
.quick-input-widget .monaco-tree .monaco-tree-row .label-name,
.quick-input-widget .monaco-list .monaco-list-row
.label-name {
    font-family: 'Hack Nerd Font', monospace !important;
    font-size: 12px !important;
    color: #ffffffbd !important;
}

.quick-input-widget .quick-input-list-separator {
    font-family: 'Hack Nerd Font', monospace !important;
    font-size: 12px !important;
    color: rgba(255, 255, 255, .3) !important;
}

.quick-input-widget .quick-input-list-label-meta {
    color: rgba(255, 255, 255, .3) !important; 
    font-size: 10px !important;
    font-style: italic !important;
    text-indent: 5px !important;
}

/* Sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
    box-shadow: 0px 0px 10px rgba(0,0,0,.75) !important;
    top: -3px !important;
}

/* Sidebar title */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}
.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #bc9abc !important;
}

.composite.title h2::before {
    display: inline-block;
    margin-right: 6px;
    font-size: 1.1rem;
    content: '🚀';
}

/* Scroll Bar */
.slider {
    position: absolute !important;
    right: 1px !important;
    width: 1px !important;
    background: #bc9abc !important;
    left: auto !important;
}

.codicon-toolbar-more, .codicon-word-wrap {
    display: block !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 10px !important;
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
    border: none !important
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Search Label */
.search-label {
    font-family: 'Hack Nerd Font', monospace !important;
    font-size: 11px !important;
    color: #fff;
    display: block;
}

/* Search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right, .codicon-arrow-left {
    display: none !important;
}

.titlebar-right > * {
    display: none !important;
}

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 40% !important;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
    padding: 10px 10px 18px 10px !important;
    /* background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important; */
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* List hover */
.monaco-list-row:hover {
    background: rgba(0, 0, 0, .2) !important;
}

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

.synthetic-focus {
    outline-color: rgba(50, 50, 50, 1) !important;
}

.quick-input-widget .monaco-list-row {
    font-size: 15px !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 8px !important;
    border: none !important;
    background-color: rgba(34, 34, 34, .40) !important;
    font-family: "Hack Nerd Font", monospace !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(0.9px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
    max-width: none !important;
}

.command-center-center {
    width:  auto !important;
}

.monaco-workbench .composite-bar-container .monaco-action-bar {
    font-family: "Hack Nerd Font", monospace !important;
}

