[alias]
  # *********************
  # Rebase workflow
  mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
  synced = "!git pull origin $(git mainbranch) --rebase"
  update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"
  squash = "!git rebase -v -i $(git mainbranch)"
  publish = push origin HEAD --force-with-lease
  pub = publish 

[core]
  editor = vim
  excludesfile = $DOTFILES/git/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[interactive]
    diffFilter = LESS=-R delta --color-only
[delta]
    features = side-by-side navigate decorations
    syntax-theme = Visual Studio Dark+
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[merge]
    conflictstyle = zdiff3
[pager]
    diff = LESS=-R delta
    log = LESS=-R delta
    reflog = LESS=-R delta
    show = LESS=-R delta